@using HAG.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title - main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="style.css" />
    <link href="http://www.professorcloud.com/styles/cloud-zoom.css" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
    <script type="text/JavaScript" src="http://www.professorcloud.com/js/cloud-zoom.1.0.2.js"></script>
    <script src="~/Scripts/app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }
        #templatemo_header_wrapper {
            height: 90px;
        }

        .icon {
            padding: 10px;
            background: #bbd142;
            color: white;
            min-width: 50px;
            text-align: center;
        }

        .btn {
            background-color: #bbd142;
            color: white;
            padding: 15px 20px;
            border: none;
            cursor: pointer;
            width: 20%;
            opacity: 0.9;
        }

            .btn:hover {
                opacity: 1;
            }
    </style>

</head>
<body>

    <!-- Top Menu Start -->
    <div id="templatemo_header_wrapper">
        <div id="templatemo_header">
            <div id="site_logo">

            </div>

            <div id="templatemo_menu">
                <div id="templatemo_menu_left"></div>
                <ul>
                 

                </ul>

            </div>
        </div>

    </div>


    <!-- End of Top Menu-->
  


    <div id="templatemo_content_wrapper">
        <div id="templatemo_content">

            <!-- Content Area -->
            <div id="column_w530">
                <div class="header_02">Log In!</div>
                <div class="row">
                    <div class="col-md-8">
                        <section id="loginForm">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Please log with your existing account!</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                           <b> @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })</b>
                            <div class="col-md-10">
                                <i class="fa fa-envelope icon"></i>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                                <div class="form-group">
                                    <b> @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })</b>
                                    <div class="col-md-10">
                                        <i class="fa fa-key icon"></i>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Log in" class="btn btn-default" />
                                    </div>
                                </div>
                                <p>
                                    @Html.ActionLink("Register as a new user", "Register")
                                </p>
                                @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                            }
                        </section>
                    </div>
                    
                </div>

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }

                <div class="cleaner"></div>
            </div>
            <!-- End of Content Area -->
            <!-- Right Sidebar -->
            <div id="column_w300">

                <div class="header_03">Latest News</div>

                <div class="column_w300_section_01">
                    <div class="news_image_wrapper">
                        <img src="~/Content/Images/cotton.jpg" alt="image" />
                    </div>

                    <div class="news_content">
                        <div class="news_date">OCT 29, 2048</div>
                        <div class="header_04"><a href="#">Organic materials</a></div>
                        <p>We use only organic materials for our products.</p>
                    </div>

                    <div class="cleaner"></div>
                </div>

                <div class="column_w300_section_01 even_color">
                    <div class="news_image_wrapper">
                        <img src="~/Content/Images/team.jpg" alt="image" />
                    </div>

                    <div class="news_content">
                        <div class="news_date">OCT 28, 2048</div>
                        <div class="header_04"><a href="#">Our factories</a></div>
                        <p> Feel the atmosphere inside our factories.</p>
                    </div>

                    <div class="cleaner"></div>
                </div>

                <div class="column_w300_section_01">
                    <div class="news_image_wrapper">
                        <img src="~/Content/Images/zara.png" alt="image" />
                    </div>

                    <div class="news_content">
                        <div class="news_date">OCT 27, 2048</div>
                        <div class="header_04"><a href="#">Our Partners</a></div>
                        <p> We started our partnership with one of the biggest clothing brands, Zara.</p>
                    </div>

                    <div class="cleaner"></div>
                </div>

                <div class="cleaner"></div>
            </div>
            <!-- End of Right Sidebar -->

            <div class="cleaner"></div>
        </div>
    </div>

    <!-- Footer -->
    <div id="templatemo_footer_wrapper">

        <div id="templatemo_footer">

            <div class="section_w180">
                <div class="header_05">Services</div>
                <div class="section_w180_content">
                    <ul class="footer_menu_list">
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Cum sociis</a></li>
                        <li><a href="#">Donec quam</a></li>
                        <li><a href="#">Nulla consequat</a></li>
                        <li><a href="#">In enim justo</a></li>
                    </ul>
                </div>
            </div>

            <div class="section_w180">
                <div class="header_05">About</div>
                <div class="section_w180_content">
                    <ul class="footer_menu_list">
                        <li><a href="#">Nullam quis</a></li>
                        <li><a href="#">Sed consequat</a></li>
                        <li><a href="#">Cras dapibus</a></li>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Cum sociis</a></li>
                    </ul>
                </div>
            </div>

            <div class="section_w180">
                <div class="header_05">Cool links</div>
                <div class="section_w180_content">
                    <ul class="footer_menu_list">
                        <li><a href="#">Aenean vulputate</a></li>
                        <li><a href="#">Etiam ultricies</a></li>
                        <li><a href="#">Nullam quis</a></li>
                        <li><a href="#">Sed consequat</a></li>
                        <li><a href="#">Cras dapibus</a></li>
                    </ul>
                </div>
            </div>

            <div class="section_w180">
                <div class="header_05">Contact</div>

                <div class="section_w180_content">

                    <ul class="footer_menu_list">
                        <li><a href="#">Donec quam</a></li>
                        <li><a href="#">Nulla consequat</a></li>
                        <li><a href="#">In enim justo</a></li>
                        <li><a href="#">Aenean vulputate</a></li>
                        <li><a href="#">Etiam ultricies</a></li>
                    </ul>
                </div>
            </div>

            <div class="section_w180">
                <div class="header_05">Partners</div>
                <div class="section_w180_content">
                    <ul class="footer_menu_list">
                        <li><a href="http://www.templatemo.com" target="_parent">CSS Templates</a></li>
                        <li><a href="http://www.flashmo.com" target="_parent">Flash Websites</a></li>
                        <li><a href="http://www.templatemo.com/page/2" target="_parent">Website Templates</a></li>
                        <li><a href="http://www.webdesignmo.com" target="_parent">Web Design Tips</a></li>
                        <li><a href="http://www.photovaco.com" target="_blank">Free Stock Photos</a></li>
                    </ul>
                </div>
            </div>

            <div class="margin_bottom_20"></div>
            Copyright © 2048 <a href="#">Your Company Name</a> | <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
            <div class="cleaner"></div>
        </div>

    </div>
    <!-- End of Footer -->

</body>

</html>


